.mobile-menu__header {
	padding: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.mobile-menu__button-burger, .mobile-menu__button-search {
	width: 40px;
	height: 40px;
}

.mobile-menu__button-burger {
	background: url("img/burger.svg") no-repeat;
}

.mobile-menu__button-search {
	background: url("img/search.svg") no-repeat;
	margin-left: auto;
}

.mobile-menu__header a {
	display: block;
	margin-left: 16px;
}

