.upper-menu {
	background-color: #ffffff;
	border-bottom: 1px solid #D9FFF5;
}

.upper-menu__items {
	padding: 16px 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media only screen and (min-width: 768px) {
	.upper-menu__items {
		padding: 16px 24px;
	}
}

.upper-menu__items-wrap {
	display: flex;
	align-items: center;
}

.upper-menu__items-wrap:first-child {
	justify-content: flex-start;
}

.upper-menu__items-wrap:last-child {
	justify-content: flex-end;
}

.upper-menu__item_hidden {
	display: none;
}

@media only screen and (min-width: 768px) {
	.upper-menu__item_hidden {
		display: block;
		margin-right: 16px;
	}
}

.upper-menu__primary-button--burger-menu {
	background-image: url("img/burger.svg");
}

.upper-menu__primary-button--button-call {
	background-image: url("img/call.svg");
}

.upper-menu__primary-button--button-chat {
	background-image: url("img/chat.svg");
}

.upper-menu__primary-button--button-profile {
	background-image: url("img/profile.svg");
	position: relative;
	margin-right: 48px;
}

.upper-menu__logo {
	position: relative;	
	margin: 0px -2px 0px 8px;
}

.upper-menu__button-profile:after, .upper-menu__logo:after {
	position: absolute;
	content: '';
	height: 32px;
	top: 4px;
	right: -24px;
	border-left: 2px solid #EAEAEA;
}

@media only screen and (min-width: 411px) {
	.upper-menu__logo:after {
		position: absolute;
		content: '';
		height: 32px;
		top: 4px;
		left: 0px;
		border-left: 2px solid #EAEAEA;
	}
	.upper-menu__logo {	
		margin: 0px 24px;
	}
}

.upper-menu__logo:after {
	top: 12px;
}

.upper-menu__primary-button--button-repair {
	background-image: url("img/repair.svg");
}

.upper-menu__primary-button--button-status {
	background-image: url("img/checkstatus.svg");
	margin-left: 16px;
}

@media only screen and (min-width: 1440px) {
	.upper-menu {
		display: none;
	}
}