.services__main-text {
	position: relative;
	display: flex;
	margin: 24px 0px 0px 16px;
}

.services__main-text h1 {
	margin: 0;
}

.services__main-text:before {
	content: "";
	height: 37px;
	left: -16px;
	padding: 0;
	vertical-align: middle;
	width: 4px;
	background-color: #41F6D7;
	position: absolute;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.services__user-repair-buttons_hidden {
	display: none;
}

.services__button-repair, .services__button-status {
	height: 40px;
	width: 40px;
	cursor: pointer;
}

.services__button-repair {
	background: url("img/repair.svg") no-repeat;
}

.services__button-status {
	background: url("img/checkstatus.svg") no-repeat;
}

@media only screen and (min-width: 768px) {
	.services__main-text {
		margin: 24px 0px 0px 24px;
	}
	.services__main-text:before {
		left: -24px;
	}
}

@media only screen and (min-width: 1120px) {
	.services__main-text {
		margin: 42px 0px 0px 32px;
	}

	.services__main-text:before {
		margin-left: -16px;
	}

	.services__user-repair-buttons_hidden {
		display: flex;
		align-items: center;
	}

	.services__main-text:before {
		content: "";
		left: -16px;
	}

	.services__user-repair-buttons {
		justify-content: flex-end;
		flex-grow: 1;
	}

	.services__user-repair-buttons div {
		margin-right: 32px;
	}

	.services__user-repair-buttons span {
		margin-right: 8px;
	}
}