/* main-text */

.main__services {
	margin-top: 24px;
}

.services__header {
	position: relative;
	display: flex;
	height: 100%;
}

.services__title {
	margin: 0;
	padding-left: 24px;
	line-height: 40px;
}

.services__info-text-wrap {
	font-size: 14px;
}

.services__header:before {
	content: "";
	height: inherit;
	left: 0;
	padding: 0;
	vertical-align: middle;
	width: 4px;
	background-color: #41F6D7;
	position: absolute;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.services__user-repair-buttons_hidden {
	display: none;
}

.services__button-repair {
	background-image: url("img/repair.svg");
}

.services__button-status {
	background-image: url("img/checkstatus.svg");
}

@media only screen and (min-width: 768px) {
	.main__services {
		margin-top: 24px;
	}
}

@media only screen and (min-width: 1120px) {
	.main__services {
		margin-top: 42px;
	}	

	.services__user-repair-buttons_hidden {
		display: flex;
		align-items: center;
	}

	.services__header:before {
		content: "";
	}

	.services__user-repair-buttons-wrap {
		justify-content: flex-end;
		flex-grow: 1;
	}
	.services__user-repair-button-wrap {
		display: flex;
		align-items: center;
	}

	.services__repair-buttons {
		margin-right: 32px;
		display: inline-block;
	}

	.services__user-repair-text {
		margin-right: 8px;
		display: inline-block;
		height: inherit;
	}
}

/* option-items */

.services__list-items {
	overflow: scroll;
	white-space: nowrap;
	margin: 24px 16px;
	padding: 0;
}

@media only screen and (min-width: 768px) {
	.services__list-items {
		margin: 40px 24px;
	}
}

@media only screen and (min-width: 1120px) {
	.services__list-items {
		margin: 8px 32px;
		overflow: visible;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 1120px;
	}
	.services__list-item:last-child {
		flex-basis: 100%;
	}
}

@media only screen and (min-width: 1200px) {
	.services__list-item:last-child {
		flex-basis: auto;
	}
	.services__list-items {
		margin: 8px auto;
		flex-wrap: nowrap;
	}
}

@media only screen and (min-width: 1440px) {
	.services__list-items {
		padding-left: 24px;
		max-width: 1120px;
		flex-wrap: wrap;
	}
}

.services__list-item {
	list-style-type: none;
	display: inline-block;
	padding: 8px 16px;
}

.services__list-item:last-child {
	list-style-type: none;
}

.services__list-link {
	text-decoration: none;
	color: #7E7E82;
}

.services__list-item:first-child {
	background-color: #FFFFFF;
	border: 2px solid #B8FFEC;
}

/* info */

.services__info {
	margin: 0px 16px;
}

.services__main-img {
	overflow: hidden;
	width: calc(100% + 32px);
	height: auto;
	margin-left: -16px;
}

.services__see-more {
	font-size: 16px;
	font-weight: bolder;
	position: relative;
	padding-left: 32px;
	cursor: pointer;
}

.services__see-more:before {
	content: "";
	background-image: url("img/expand.svg");
	height: 22px;
	width: 22px;
	left: 0;
	top: -2px;
	position: absolute;
	background-position: 50% 50%;
	transform: scaleY(1);
	transition: transform 0.3s;
}

.services__see-more-arrow:before {
	transform: scaleY(-1);
}

.services__hidden-text {
	display: none;
}

@media only screen and (min-width: 768px) {
	.services__info {
		margin: 0px 24px;
		display: flex;
		flex-direction: row;
		min-width: 700px;
		align-items: flex-start;
	}

	.services__info-text p:first-child {
		margin-top: 0;
	}

	.services__info-text {
		flex-basis: 65%
	}

	.services__main-img-wrap {
		flex-basis: auto;
		margin: 0px 40px 0px 40px;	
	}

	.services__main-img {
		border-radius: 8px;
	}

	.services__hidden-text:first-of-type {
		display: inline;
	}
}

@media only screen and (min-width: 1120px) {
	.services__hidden-text:last-of-type {
		display: inline;
	}
	.services__info-text {
		flex-basis: 50%;
	}
	.services__info {
		margin: 0px auto;
		max-width: 1120px;
		padding: 0px 0px 0px 32px;
	}
}

@media only screen and (min-width: 1120px) {
	.services__info {
		margin-top: 24px;
	}
}

