.section-title {
	text-transform: uppercase;
	color: #7E7E82;
	font-size: 1.2em;
	font-family: "TTLakes-Regular"; 
	font-weight: lighter; 
	display: block;
	background: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
	padding: 16px;
	border-top: 1px solid #D9FFF5;
}

@media only screen and (min-width: 768px) {
	.section-title {
		padding-left: 24px;
		margin-top: 24px;
	}
}

@media only screen and (min-width: 1120px) {
	.section-title {
		padding-left: 32px;
		margin-top: 40px;
	}
}