.services__option-items {
	overflow: scroll;
	white-space: nowrap;
	margin: 24px 16px;
	padding: 0;
}

@media only screen and (min-width: 768px) {
	.services__option-items {
		margin: 40px 24px;
	}
}

@media only screen and (min-width: 1120px) {
	.services__option-items {
		margin: 8px 32px;
		overflow: visible;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 1120px;
	}
	.services__item:last-child {
		flex-basis: 100%;
	}
}

@media only screen and (min-width: 1200px) {
	.services__item:last-child {
		flex-basis: auto;
	}
	.services__option-items {
		margin: 8px auto;
		flex-wrap: nowrap;
	}
}

.services__item {
	list-style-type: none;
	display: inline-block;
	padding: 8px 16px;
}

.services__item:last-child {
	list-style-type: none;
}

.services__item a {
	text-decoration: none;
	color: #7E7E82;
}

.services__item:first-child {
	background-color: #FFFFFF;
	border: 2px solid #B8FFEC;
}