.repair-items__swiper-container {
	background-color: #F8F8F8;
}

.repair-items__swiper-slide {
	border: 1px solid #EAEAEA;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 6px;
	max-height: 180px;
	height: 180px;
	margin: 0 auto 40px auto;
}

.repair-items__swiper-slide:first-child {
	margin-left: 16px;
}

.repair-items__list-wrap {
	padding-left: 0;
}

.repair-items__text {
	margin: 16px;
	font-weight: bolder;
}

.repair-items__swiper-slide-img {
	margin: 16px;
}

.repair-items__swiper-slide-img:last-child {
	align-self: flex-end;
	cursor: pointer;
	transition: background-color, 0.5s;
	border-radius: 50%;
	cursor: pointer;
}

.repair-items__swiper-slide-img:last-child:hover,
.repair-items__swiper-slide-img:last-child:focus {
	background-color: #B5B6BC;
}

.repair-items__pagination-bullet-size > span {
	height: 12px;
	width: 12px;
	background-color: #DDDDDD;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: #B5B6BC !important;
}



/* 768+ */

.repair-items__see-more {
	font-size: 16px;
	font-weight: bolder;
	position: relative;
	padding-left: 32px;
	cursor: pointer;
	transition: all 0.5s;
	margin-top: 0;
}

.repair-items__see-more:before {
	content: "";
	background: url("img/expand.svg") no-repeat;
	height: 22px;
	width: 22px;
	left: 0;
	top: -2px;
	position: absolute;
}

.repair-items_hide {
	display: none;
}

@media only screen and (min-width: 768px) {
	.repair-items_hide {
		display: block;
	}
	.repair-items__text:first-child {
		margin-left: 16px;
		align-self: flex-start;
	}
	.repair-items__swiper-slide-img {
		margin-right: 16px;
		transition: background-color, 0.5s;
		border-radius: 50%;
		cursor: pointer;
	}
	.repair-items__swiper-slide-img:hover,
	.repair-items__swiper-slide-img:focus {
		background-color: #B5B6BC;
	}

	.repair-items__list-item:first-child {
		margin-left: 0;
	}

	.repair-items__swiper-container {
		padding: 0px 24px;
	}

	.repair-items__list-wrap {
		transform: translateX(0px) !important;
		background-color: #F8F8F8;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding-left: 0px;
	}
	.repair-items__list-item {
		border: 1px solid #EAEAEA;
		max-width: auto;
		flex-grow: 1;
		margin-bottom: 16px;
		border-radius: 6px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		flex-basis: 30%;
		background-color: #FFFFFF;
	}

	.repair-items__list-item:nth-of-type(n+4) {
		display: none;
	}

	.repair-items__list-item:not(:nth-of-type(3n)) {
		margin-right: 24px;
	}

	.repair-items__see-more {
		display: block;
		margin-left: 24px;
	}

	.swiper-pagination {
		display: none;
	}
}

@media only screen and (min-width: 1120px) {

	.repair-items__list-item {
		width: 224px;
		flex-basis: 22%;
	}

	.repair-items__list-item:nth-of-type(-n+9) {
		display: flex;
	}

	.repair-items__list-item:nth-of-type(n+5) {
		display: none;
	}

	.repair-items__list-item:not(:nth-of-type(3n)) {
		margin-right: 0px;
	}

	.repair-items__list-item:not(:nth-of-type(4n)) {
		margin-right: 32px;
	}
	.repair-items__see-more {
		display: block;
		margin-left: 32px;
	}
}