.mobile-menu__footer {
	margin-top: auto;
	margin-left: 16px;
}

.mobile-menu__contact-buttons div {
	width: 40px;
	height: 40px;
	display: inline-block;
}

.mobile-menu__contact-buttons div:not(:first-child) {
	margin-left: 16px;
}

.mobile-menu__contact-phone {
	background: url("img/phone.svg") no-repeat;
}
.mobile-menu__contact-chat {
	background: url("img/chat.svg") no-repeat;
}
.mobile-menu__contact-profile {
	background: url("img/profile.svg") no-repeat;
}

.mobile-menu__footer > a {
	color: #1B1C21;
	text-decoration: none;
	display: block;
	padding-top: 16px;
}

.mobile-menu__call-us {
	font-size: 1.4em;
	font-weight: bolder;
}

.mobile-menu__change-language {
	margin-bottom: 32px;
	padding-top: 8px;
}

.mobile-menu__change-language a {
	text-decoration: none;
	color: #1B1C21;
}

a.mobile-menu__change-language_active, 
.mobile-menu__change-language a:focus,
.mobile-menu__change-language a:hover {
	color: #7E7E82;
	opacity: 0.6;
}